* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #0f0f0f 0%, #3a3a3a 50%, #0f0f0f 100%);
    color: #f9f9f9;

    /*user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-webkit-tap-highlight-color: transparent;*/
    /*overflow-x: hidden;*/
}

/*input, textarea, select {*/
/*    user-select: auto;*/
/*    -webkit-user-select: auto;*/
/*}*/

#root {
    min-height: 100vh;
    width: 100%;
}